///
/// Construct by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		@include padding(6em, 2em);
		text-align: center;

		.copyright {
			color: _palette(fg-light);
			font-size: 0.9em;
			margin: 0 0 _size(element-margin) 0;
			padding: 0;

			li {
				border-left: solid _size(border-width) _palette(border);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		@include breakpoint('<=small') {
			@include padding(4em, 2em);

			.icons {
				margin-bottom: (_size(element-margin) * 0.75);
			}

			.copyright {
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		@include breakpoint('<=xsmall') {
			@include padding(3em, 2em);
		}
	}